@import "../styles/_tokens.scss";
@import "../styles/_mixins.scss";

.input-container {
  position: relative;
  margin-bottom: 20px;
  display: flex;
  gap: 10px;

  input {
    flex: 1;
    padding: 16px 20px 16px 50px;
    @include input;
    
    padding: 16px 20px 16px 50px;
    
    &:hover:not(:focus) {
      border-color: #c1c9d2;
      box-shadow: $shadow-small;
    }
  }

  .input-icon {
    position: absolute;
    left: 18px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    pointer-events: none;
  }

  .add-btn {
    @include button-action;
    
    &:hover {
      background: darken($uniwise-green, 5%);
    }
  }
}
